# core dependenices
discord.py==2.0.1

# configs
python-dotenv==0.15.0

pyyaml==5.4.1
types-PyYAML==6.0.4
enforce-typing==1.0.0.post1

# database access
aiohttp==3.7.4
asyncpg==0.27.0
asyncpg-stubs==0.27.0
inject==4.3.1

# cogs
    # markov
    aioredis==2.0.1

    # activity
    numpy==1.22.2
    matplotlib==3.5.1
    pandas==1.4.1
    Pillow==9.3.0
    types-Pillow==9.3.0.1

    # fun
    unicodeit==0.7.2
    emoji==1.6.3
    types-emoji==1.2.7
    requests==2.28.1
    types-requests==2.28.11.4

    # wordle
    english-words==1.1.0

    # math
    sympy==1.10.1

    # auto_thread
    lxml==4.9.1
    lxml-stubs==0.4.0

# testing library
pytest==7.0.1
pytest-cov==3.0.0

# logging
rich==11.2.0
discord-handler==0.0.3

# mypy
types-python-dateutil==2.8.19.3