# core dependenices
discord.py==2.1.0

# configs
python-dotenv==0.21.0

pyyaml==6.0
types-PyYAML==6.0.12.2
enforce-typing==1.0.0.post1

# dependency injection
inject==4.3.1

# database access
aiohttp==3.8.3
asyncpg==0.27.0
asyncpg-stubs==0.27.0

# cogs
    # markov
aioredis==2.0.1

    # activity
numpy==1.23.5
matplotlib==3.6.2
pandas==1.5.2
Pillow==9.3.0
types-Pillow==9.3.0.2

    # fun
unicodeit==0.7.2
emoji==2.2.0
types-emoji==2.1.0.1
requests==2.28.1
types-requests==2.28.11.5

    # math
sympy==1.11.1

    # auto_thread
lxml==4.9.1
lxml-stubs==0.4.0

# testing library
pytest==7.2.0
pytest-cov==4.0.0
freezegun==1.2.2

# logging
rich==12.6.0
discord-handler==0.0.5

# mypy
types-python-dateutil==2.8.19.4