name: Deploy

on:
  push:
    branches:
      - v2
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: |
        docker build ./bot -f ./bot/Dockerfile.bot -t masarykbot

    - name: Login to Heroku Container registry
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:login

    - name: Build and push bot
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:push --app ${{ secrets.HEROKU_APP_NAME }} --recursive

    - name: Release bot
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:release --app ${{ secrets.HEROKU_APP_NAME }} --recursive

